<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">
    <title>Student Dashboard</title>
</head>
<body>
    <div class="container mt-4">
        <h2 class="mb-3">Welcome to the Student Dashboard</h2>
        <p>Hello , {{ name }}!</p>

        <h5 class="mt-4">Your Recent Assignments</h5>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Assignment Title</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Posted At</th>
                    <th>Attachment_URL</th>
                </tr>
            </thead>
            <tbody>
                {% for assignments in assignments %}
                <tr>
                    <td>{{ assignments[0] }}</td>
                    <td>{{ assignments[1] }}</td>
                    <td>{{ assignments[2] }}</td>
                    <td>{{ assignments[3] }}</td>
                    <td>
                        {% if assignments[5] %}
                            <a href="{{ assignments[5] }}" target="_blank">📎 View</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/logout" class="btn btn-danger mt-3">Logout</a>
    </div>
     
</body>
</html>
