<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dist/css/bootstrap.css">
    <script src="../static/dist/js/bootstrap.js"></script>    
    <title>User Management</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center text-info">User Management</h2>
        <table class="table table-bordered table-striped mt-4">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>
                        <a href="{{ url_for('delete_user', user_id=user[0]) }}" class="btn btn-sm btn-danger">Delete</a>
                        <a href="{{ url_for('edit_user', user_id=user[0]) }}" class="btn btn-sm btn-warning">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary">Back</a>
    </div>    
</body>
</html>